body{
    background-color: black;
    text-align: center;
    font-size: 19px;
    font-family: Verdana;
}
.header_baner{
    background-image: url("baner.jpg");
}
.nav4div{
    width: 100%;
}
.div1{
    background-color: brown;
    color: white;
    width: 23%;
    height: 200px;
    margin: 1%;
    float: left;
}
.div1:hover{
    background-color: rgb(214, 51, 51);
    font-size: 16px;
}
.div1:active{
    background-color: rgb(214, 51, 51);
    font-size: 16px;
}

.div2{
    background-color: blue;
    color:white;
    width: 23%;
    height: 200px;
    float: left;
    margin: 1%;
}
.div2:hover{
    background-color: rgb(55, 55, 253);
    font-size: 16px;
}
.div2:active{
    background-color: rgb(55, 55, 253);
    font-size: 16px;
}
.div3{
    background-color: darkgreen;
    color: #fff;
    width: 23%;
    height: 200px;
    float: left;
    margin: 1%;
}
.div3:hover{
    background-color: rgb(55, 253, 71);
    font-size: 16px;
}
.div3:active{
    background-color: rgb(55, 253, 71);
    font-size: 16px;
}
.div4{
    background-color: darkmagenta;
    color: white;
    width: 23%;
    height: 200px;
    float: left;
    margin: 1%;
}
.div4:hover{
    background-color: rgb(255, 0, 221);
    font-size: 16px;
}
.div4:active{
    background-color: rgb(255, 0, 221);
    font-size: 16px;
}
main{
    width: 100%;
}
.sekcja1{
    width: 48%;
    color: white;
    margin: 1%;
    float: left;
}
.sekcja1:hover{
    color:rgb(207, 207, 207)}
.sekcja2{
    width: 48%;
    color: white;
    margin: 1%;
    float: left;
}
.sekcja2:hover{
    color:rgb(207, 207, 207)
}